/cust_trajs/
/realsense-rust/
/dump/*
/target/
resources/cam_calibration/top_right_board.png
appdata/aruco_detect_0.png
appdata/largo_aruco_joes_cam_ext.png
configs/caminfo_r.txt
appdata/cam_l_aruco_not_joes.png
configs/caminfo_l.txt
resources/cam_calibration/top_right_board.tiff
resources/cam_calibration/top_left_board.tiff
resources/cam_calibration/top_left_board.png
resources/cam_calibration/bottom_right_board.tiff
resources/cam_calibration/bottom_right_board.png
resources/cam_calibration/bottom_left_board.tiff
resources/cam_calibration/bottom_left_board.png
l_test.txt
resources/cam_calibration/bot_left_marker.png
